.App {
  font-family: 'Arial', sans-serif;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #008cba;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #005f5f;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid #ddd;

      span {
        cursor: pointer;
      }

      button {
        margin-left: 10px;
      }
    }
  }

  form {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    flex-flow: row wrap;
    max-width: 40vw;
    margin: auto;
    align-items: baseline;
  }

  button[type='submit'] {
    padding: 5px 20px;
    margin: 10px auto;
    float: right;
  }
}
